    .body {
        font-family: 'Poppins', sans-serif !important;
        font-size: 17px;
        width: 100% !important;
        
    }
    /*Section 1 CSS*/
    
    .main-section {
        width: 100% !important;
        background-image: url(img/xbg_3.png);
        background-position: center center;
        background-size: cover;
    }
    
    .row {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    
    .top-nav {
        height: 30px;
    }
    
    .nav-logo {
        font-weight: 900 !important;
        font-size: 24px !important;
    }
    
    .nav-logo:hover {
        text-decoration: none;
    }
    
    .menu {
        letter-spacing: 0.1em;
    }
    .navbar-toggler {
        border: none !important;
    }
    
    .nav-link {
        font-weight: 500 !important;
        color: black;
    }
    
    .btn-nav {
        background-color: #f95e54 !important;
        color: white !important;
        font-size: 12px !important;
    }
    
    .btn-nav:hover {
        background-color: #ff3425 !important;
        transition: 0.3s;
    }
    
    .img-contact {
        width: 100%;
        height: 40em;
        object-fit: cover;
    }
    
    .paragragh {
        color: rgb(146, 142, 142);
        font-size: 1.1em !important
    }
    /* Button CSS*/
    
    .btn-appointment-top,
    .btn-appointment,
    .btn-contact,
    .btn-search,
    .btn-send,
    .btn-book {
        border-radius: 40px !important;
    }
    
    .btn-book {
        background-color: #0a53f1;
        color: #f5f5f5;
        border: none;
        text-align: center;
        align-items: baseline;
        padding: 0px;
        width: max-content;
        height: 40px !important;
    }
    
    
    .btn-send,
    .btn-contact {
        background-color: #f95e54 !important;
        color: white !important;
        border: none !important;
    }
    
    .btn.send,
    .btn-contact:hover {
        background-color: #e74136 !important;
    }
    
    .btn-search {
        background-color: white !important;
        color: black !important;
        border: none !important;
    }
    
    .btn-search:hover {
        background-color: rgb(156, 152, 152) !important;
    }
    
    .s-search,
    .s-info {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(img/xbg_2.png);
        background-position: center center;
        background-size: cover;
    }
    
    .s-info,
    .s-reviews {
        background-image: linear-gradient(rgba(47, 129, 245, 0.8), rgba(47, 129, 245, 0.8)), url(img/xbg_3.png);
    }
    /* Formating CSS*/
    
    .s-heading,
    .s-heading-mobile {
        font-size: 13px;
        font-weight: 600;
        color: #247cfa;
        letter-spacing: 1.5px;
    }
    
    .s-heading-red {
        color: #ff3425;
    }
    
    .s-heading-mobile {
        font-size: 18px;
    }
    
    .weight-400 {
        font-weight: 400;
    }
    
    .contact-us {
        font-size: 3em;
    }
    
    .table-desc,
    .patient-desc,
    .desc-footer,
    .copyright-footer {
        font-size: 16px;
        font-weight: 600;
        color: rgb(233, 233, 233);
        letter-spacing: 1.5px;
    }
    
    .patient-desc,
    .desc-footer,
    .copyright-footer {
        font-weight: 400;
    }
    
    .patient-name {
        color: white;
        font-weight: 400;
        font-size: 18px;
    }
    
    .semi-heading {
        color: white;
        font-size: 3em;
        font-weight: 700;
    }
    
    .m-heading-mobile {
        font-size: 1.8em;
        font-weight: 400;
        color: black;
    }
    
    .para-mobile {
        font-size: 20px !important;
    }
    /* Padding for All Div*/
    
    .padding2 {
        padding: 2em;
    }
    
    .padding5 {
        padding: 5em;
    }
    
    .padding7 {
        padding: 7em;
    }
    
    .padding-vertical8,
    .padding-vertical6 {
        padding-top: 7em;
        padding-bottom: 6em;
    }
    
    .padding-vertical8 {
        padding-top: 10em !important;
    }
    
    .padding-vertical10 {
        padding-top: 10em;
        padding-bottom: 10em;
    }
    
    .padding-top8 {
        padding-top: 8em;
    }
    
    .mediplus {
        color: #247cfa;
    }
    
    .img-doctor {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    
    .img-patient {
        position: relative;
        width: 40%;
        height: auto;
        object-fit: cover;
    }
    /* Contact Us Session*/
    
    .address-bars {
        background-color: #f5f5f5;
        border-radius: 5px;
        height: 100%;
    }
    
    .white-circle {
        background-color: white;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        line-height: 100px;
    }
    
    .img-map {
        width: 100%;
    }
    
    .contact-icons {
        color: #247cfa;
        line-height: 1;
    }
    
    .contact-heading {
        font-size: 1.1em;
    }
    
    .form-section-map {
        width: 100%;
    }
    
    .services-icon-div {
        width: 100px;
        height: 100px;
        margin-right: 1em !important;
        line-height: 100px;
        border-radius: 50%;
        background-color: #ffdbd9;
    }
    
    .services-icon {
        line-height: 8;
        color: rgb(255, 86, 86);
    }
    
    .icons-div {
        display: flex;
        width: 100%;
        padding-left: 65px;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }
    
    .social-icon {
        line-height: 4;
        color: rgb(255, 255, 255);
    }
    
    .social-icon-div {
        display: inline;
        width: 55px;
        height: 55px;
        line-height: 55px;
        border-radius: 50%;
        background-color: #247cfa;
        margin-right: 20px;
        text-align: center;
    }
    
    .s-input {
        border-radius: 40px !important;
        font-size: 18px !important;
        padding: 30px 0px 30px 30px !important;
    }
    
    .dropdown-list {
        border: 1px solid rgb(209, 209, 209) !important;
        border-radius: 40px !important;
        padding-left: 30px !important;
        height: 65px !important;
        font-size: 18px !important;
        width: 100%;
    }
    
    .icon-fields {
        color: rgb(70, 70, 255);
    }
    
    .img-div {
        position: relative;
    }
    
    .icon-fields-pic {
        background-color: #e74136;
        color: #f5f5f5;
        align-items: center;
        justify-content: center;
        padding-top: 8px;
        height: 40px;
        width: 40px;
        position: absolute;
        top: 75%;
        left: 55%;
        border-radius: 100px;
        z-index: 2;
    }
    
    .pagination-wrapper {
        width: 100%;
        height: 100%;
    }
    
    .pagination {
        position: relative;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
    }
    
    .pagination span {
        display: inline-block;
        position: relative;
        width: 20px;
        height: 20px;
        border: #f5f5f5;
        border-radius: 50%;
    }
    
    .pagination span.active {
        border: 1px solid #ffffff;
    }
    
    .pagination span:before {
        content: "";
        position: absolute;
        top: 3px;
        left: 3px;
        right: 3px;
        bottom: 3px;
        background: #e5e5e7;
        border-radius: 50%;
    }
    /* Footer CSS*/
    
    .footer {
        background-color: #f8f9fa;
        text-align: center;
    }
    
    .s-footer,
    .s-footer-query {
        display: inline-block;
        margin-bottom: 3rem;
        vertical-align: top;
        margin-left: 10px;
        margin-right: 10px;
        text-align: left;
    }
    
    .desc-footer,
    .copyright-footer {
        letter-spacing: normal;
        color: rgb(117, 117, 117);
    }
    
    .copyright-footer {
        text-align: center;
    }
    
    .list-footer {
        padding: 0px;
        list-style: none;
    }
    
    .list-footer-items {
        font-size: 17px;
        font-weight: 400;
        color: #247cfa;
        list-style: none;
        margin-bottom: 1rem;
    }
    
    .h-footer {
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 3rem;
    }
    
    .footer-link:hover {
        color: #0f58be;
        text-decoration: none;
    }
    /* media queries */
    
    @media screen and (min-width: 350px) {
        .main-nav {
            height: 80px;
            background: rgb(0, 0, 0) !important;
            z-index: 1;
        }
        .nav-logo {
            font-size: 28px !important;
            color: white !important;
        }
        .navbar-collapse {
            background-color: black !important;
        }
        .btn-send,
        .btn-appointment,
        .btn-contact {
            margin-bottom: 10px;
        }
        .btn-appointment-top {
            margin-bottom: 10px;
        }
        .b-heading {
            font-size: 2.8em;
            font-weight: 700;
        }
        .m-heading,
        .contact-us {
            font-size: 1.8em;
            font-weight: 700;
            color: black;
        }
        .s-footer,
        .s-footer-query {
            width: 83.33% !important;
        }
        .copyright-footer {
            padding-left: 2em;
            padding-right: 2em;
        } 
    }
    
    @media screen and (min-width: 576px) {
        .navbar-toggler {
            background: hsla(0, 0%, 67%, 0.1) !important;
            margin-right: 2em !important;
        }
        .m-heading,
        .contact-us {
            font-size: 2.5em;
            font-weight: 700;
            color: black;
        }
        
    }
    @media screen and (max-width: 576px) {
        .btn-appointment,
        .btn-contact {
            width: 100%;
        }
    }
    @media screen and (min-width: 768px) {
        .btn-send,
        .btn-appointment,
        .btn-contact {
            margin-bottom: 10px;
        }
        .b-heading {
            font-size: 3.7em;
            font-weight: 700;
        }
        .icons-div {
            display: none;
        }
        .s-footer {
            width: 41.66% !important;
        }
        .s-footer-query {
            width: 83.33%;
        }
    }
    
    @media screen and (min-width: 992px) {
        .main-nav {
            background-color: hsla(0, 2%, 74%, 0.4) !important;
        }
        .nav-logo {
            color: black !important;
        }
        .navbar-collapse {
            background: none !important;
        }
        .main-nav .nav-link {
            color: black !important;
        }
        .s-footer,
        .s-footer-query {
            width: 16.66% !important;
        }
        
    }
    @media only screen and (min-width: 1300px) and (max-width: 1403px) {
        .icon-fields-pic {
            padding-top: 6px;
            height: 40px;
            width: 40px;
            position: absolute;
            top: 70%;
            left: 55%;
            border-radius: 800px;
        } 
    }
    @media only screen and (min-width: 1100px) and (max-width: 1300px) {
        .icon-fields-pic {
            top: 62%;
            left: 52%;
        } 
    }
    @media only screen and (min-width: 992px) and (max-width: 1100px) {
        .icon-fields-pic {
            top: 60%;
        } 
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .icon-fields-pic {
            top: 63%;
        } 
    } 
    @media only screen and (min-width: 360px) and (max-width: 450px) {
        .icon-fields-pic {
            top: 60%;
        } 
    }
    
